// Colours
$white: #ffffff;
$black: #000000;

$thinker-blue: #3478e5;
$off-white: #eaeaea;

$mymaps-dark-blue: #104d86;
$mymaps-light-blue: #2598d8;
$mymaps-red: #c82e2e;
$mymaps-green: #197b1d;

/* Color Theme Swatches in Hex */
$Travel-1-hex: #d7d7d9;
$Travel-2-hex: #184059;
$Travel-3-hex: #5d8aa6;
$Travel-4-hex: #bf7b3f;
$Travel-5-hex: #8c2f1b;

/* Color Theme Swatches in Hex */
$Travel-1-hex: #034c8c;
$Travel-2-hex: #70735d;
$Travel-3-hex: #f2b705;
$Travel-4-hex: #f29f05;
$Travel-5-hex: #f28705;

/* Color Theme Swatches in Hex */
$Flavour-1-hex: #d9b504;
$Flavour-2-hex: #f29f05;
$Flavour-3-hex: #d97904;
$Flavour-4-hex: #bf0404;
$Flavour-5-hex: #730202;

/* Color Theme Swatches in Hex */
$Flavour-1-hex: #f2bb13;
$Flavour-2-hex: #f28c0f;
$Flavour-3-hex: #d9a577;
$Flavour-4-hex: #a61b0f;
$Flavour-5-hex: #f2f2f2;

// Icons //

/// Default icon file path.
/// @type String
$icon-path: "./static/icons/";

/// Default icon file extension.
/// @type String
$icon-ext: ".svg";
