.hero-image { 
    position: relative;
    height: 500px;
    min-height: 320px;
    margin: 0 -15px;

    &__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__content{
        background: blue;
    }
}