$cl__neon: hsl(317, 100%, 54%);
$cl__clr-bg: rgb(101, 31, 104);
$white: #ffffff;
$cl__yellow: #ffff00;
$cl__yellow--light: #f0f000;

.button {
	display: inline-block;
	padding: .75em 1.5em;
	color: black;
	cursor: pointer;
	border-radius: 0.25em;
	text-decoration: none;
	font-weight: bold;

	&:hover {
		color: #000;
	}

	&.btn-rounded {
		border-radius: 2em;
	}

	&.btn-basic {
		background: $cl__yellow;

		&:hover {
			background: $cl__yellow--light;
		}
	}

	&.btn-basic--outline {
		color: $cl__yellow;
		outline: 2px solid rgba($cl__yellow, 0.7);
		outline-offset: 0px;
		transition: outline-offset .5s ease;
	}

	&:hover {
		text-decoration: none;
		outline-offset: 4px;
	}

	&.btn--gradient {
		background-image: linear-gradient(128deg, rgba(117, 34, 153, 1) 0%, rgba(210, 164, 230, 1) 20%, rgba(142, 182, 230, 1) 40%, rgba(118, 153, 3, 1) 60%, rgba(203, 230, 115, 1) 80%);
		background-size: 300%;
		background-position-x: left;
		transition: background-position-x .3s ease;

		&:hover {
			background-position-x: right;
		}
	}

	&.btn-shadow {
		background-color: $cl__yellow;
		box-shadow: 5px 5px 15px 5px #000000;
		transition: box-shadow .5s ease;

		&:hover {
			color: black;
			box-shadow: -5px -5px 15px 5px #776c6c;
		}
	}

	&.btn-neumorphism {
		border-radius: 50px;
		background-image: linear-gradient(145deg, #cacaca, #f0f0f0);
		background-position-x: left;
		box-shadow: 25px 25px 22px #989898,
			-25px -25px 22px #ffffff;
		background-size: 300%;
		transition: background-position .2s ease,
			box-shadow .2s ease;

		&:hover {
			border-radius: 50px;
			background-image: linear-gradient(145deg, #cacaca, #f0f0f0);
			background-position-x: right;
			box-shadow: 5px 5px 20px #989898, -40px -10px 20px;
		}
	}

	&.btn-neon {
		position: relative;
		color: $cl__neon;
		border: $cl__neon 4px solid;
		box-shadow: 0 0 .5em $cl__neon,
			inset 0 0 .5em $cl__neon;
		text-shadow: 0 0 0.125em rgba($white, 0.1),
			0 0 1em currentColor;
		// transition: background-color 100ms linear;

		&.btn-rounded::after {
			border-radius: 2em;
		}

		&:before {
			content: '';
			position: absolute;
			top: 120%;
			left: 0;
			width: 100%;
			height: 100%;
			background: $cl__neon;
			pointer-events: none;

			transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
			filter: blur(1.5em);
			opacity: 0.7;
			transition: opacity 100ms linear;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			box-shadow: 0 0 2em .5em $cl__neon;
			background-color: $cl__neon;
			opacity: 0;
			transition: opacity 100ms linear;
			z-index: -1;
		}

		&:hover,
		&:focus {
			color: $cl__clr-bg;
			text-shadow: none;

			&:before {
				opacity: 1;
			}

			&:after {
				opacity: 1;
			}
		}
	}
}