.vnt-icon-cards-block {
	padding: 1em;
	background: #eaeaea;
	border-radius: 10px;

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.vnt-icon-card {
			padding: 1em 2em;
			flex: 1 0 50%;

			@media screen and (max-width: 700px) {
				padding: 1em 0;
			}
		}
	}
}
