.my-maps-page {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 100vh;

	.left-column {
		position: absolute;
		grid-column: 1/2;
		grid-row: 1/2;
		z-index: 99;
	}

	.right-column {
		grid-column: 1/3;
		grid-row: 1/2;
		z-index: 2;
	}
}

.map {
	width: 100% !important;
	height: 100vh;

	&__get-location {
		position: absolute;
		top: 0;
		right: 0;
		margin-left: 1rem;
		padding: 1rem;
		background-color: #ffffff;
		z-index: 33;
	}
}