.profile-cover-card {
	align-items: center;
	text-align: center;
	background: #000;
	border: none;

	.card-body {
		position: relative;
		top: -6rem;

		.profile-cover-card__profile-image {
			width: 25%;
			margin: 0 auto;
			border-radius: 50%;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
			}
		}

		.profile-cover-card__details {
			padding-top: 2rem;
		}
	}
}
