.container {
	padding-bottom: 2rem;
	padding-top: 2rem;

	.row {
		[class*='col-'] {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}

	&.two-column {
		.row {
			justify-content: space-evenly;

			.col-md-6 {
				max-width: 45%;
			}
		}

		&.big-small {
			.row {
				justify-content: space-evenly;
			}
		}
	}

	&.three-column {
		.row {
			justify-content: space-evenly;
	
			.col-md-4,
			.col-lg-4 {
				max-width: 30%;
			}
		}
	}

	&.four-column {
		.row {
			justify-content: space-evenly;
	
			.col-md-3,
			.col-lg-3 {
				max-width: 24%;
			}
		}
	}
}
